body {
    box-sizing: border-box;
    padding: 20px 20px;
    font-size: 16px;
    font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul { 
    padding: 0;
}

header {
    color: white;
    animation-name: animation1;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-align: center;
    }
    @keyframes animation1 {
        0% {background-color:  rgb(140,146,172);}
        50% {background-color: rgb(113, 168, 147);} 
        100% {background-color: rgb(173, 182, 94);}
    }

h2 {
    text-align: center;
    color: rgb(113, 168, 147);
}

h3 {
    color: rgb(140,146,172);
}

img {
    width: 100%;
    height: auto;
}

/* here we condition the layout for a mobile version */
#grid-floats .grid-item {
    box-sizing: border-box;
    float: left;
    width: calc(50% - 1em);
    margin: 1em 0.5em;
    text-align: center;
    list-style-type: none;
}

/* here we condition that the first product apper on the first line and other start 2 after 2*/
#grid-floats .grid-item:nth-child(1) {
    width: calc(100% - 1em);
}

@media (max-width: 479px) {
    #grid-floats .grid-item:nth-child(2n+2) {
        clear: left;
    }
}
/* so the next block GRIDS WITH FLEXBOX starts at a new line */
#grid-floats:after { 
    content: "";
    display: table;
    clear: both;
}
/* here we condition layouts for tablets and laptops */
@media (min-width: 480px) and (max-width: 767px) {
    #grid-floats .grid-item {
        width: calc(100% / 3 - 1em);
    }

    #grid-floats .grid-item:nth-child(1),
    #grid-floats .grid-item:nth-child(2) {
        width: calc(50% - 1em);
    }

    #grid-floats .grid-item:nth-child(3n+3) {
        clear: left;
    }
}

@media (min-width: 768px) {
    #grid-floats .grid-item {
        width: calc(25% - 1em);
        margin: 1em 0.5em;
    }
    #grid-floats .grid-item:nth-child(1) {
        width: calc(50% - 1em);
    }
    #grid-floats .grid-item:nth-child(2) {
        width: calc(25% - 1em);
    }
    #grid-floats .grid-item:nth-child(4n+4) {
        clear: left;
    }
}

/* code for the FLEXBOX block */
#grid-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#grid-flex .grid-item {
    flex-basis: calc(50% - 1em);
    margin: 1em 0.5em;
    text-align: center;
    list-style-type: none;
}
#grid-flex .grid-item:nth-child(1) {
    flex-basis: 100%;
}

@media (min-width: 480px) {
    #grid-flex .grid-item {
        flex-basis: calc(calc(100% / 3) - 1em);
        margin: 1em 0.5em;
    }
    #grid-flex .grid-item:nth-child(1),
    #grid-flex .grid-item:nth-child(2) {
        flex-basis: calc(50% - 1em);
    }
}

@media (min-width: 768px) {
    #grid-flex .grid-item {
        flex-basis: calc(25% - 1em);
        margin: 1em 0.5em;
    }
    #grid-flex .grid-item:nth-child(1) {
        flex-basis: calc(50% - 1em);
    }
    #grid-flex .grid-item:nth-child(2) {
        flex-basis: calc(25% - 1em);
    }
}
